
# DEV ENV
DB_USER=postgres
DB_PASSWORD=password
DB_NAME=sarge
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SECRET_NAME=
AWS_BUCKET_NAME=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000
JUDGE_API_KEY=
JUDGE_URL=
DATABASE_URL=postgresql://postgres:password@localhost:5432/sarge
JWT_SECRET=secret
DATABASE_URL=postgresql://postgres:password@localhost:5432/sarge
DIRECT_URL=postgresql://postgres:password@localhost:5432/sarge
NEXT_PUBLIC_WS_URL="ws://localhost:8080"
EMAIL_DOMAIN="sargenu.com"
