{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "es5",
    "printWidth": 100,
    "arrowParens": "always",
    "endOfLine": "auto",
    "bracketSpacing": true,
    "bracketSameLine": false,
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindStylesheet": "./src/app/globals.css",
    "tailwindFunctions": ["cn", "cva", "clsx", "classnames", "tw"]
}
