@import 'tailwindcss';

:root {
    --background: #171717;
    --foreground: #ffffff;
    --sarge-purple: #5d5bf7;
    --grey-50: #f9fafe;
    --sarge-lightgrey: #f3f3f5;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-s-purple: var(--sarge-purple);
    --color-s-lightgrey: var(--sarge-lightgrey);
    --color-grey-50: var(--grey-50);
    --font-sans: var(--font-inter);
    --font-nunito-sans: var(--font-nunito-sans);
    --font-mono: monospace;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #ffffff;
        --foreground: #0a0a0a;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
}
